.bg-wallpaper {
  background-image: url("https://static.vecteezy.com/system/resources/previews/022/700/313/non_2x/generative-ai-illustration-of-gaming-background-abstract-cyberpunk-style-of-gamer-wallpaper-neon-glow-light-of-scifi-fluorescent-sticks-digitally-generated-image-photo.jpeg");
  height: 500px;
}


.Hola{
  width: auto;
}